<div class="panel-body">
  <div class="row">
    <button class="btn btn-success" onclick="window.location.href='/admin/Country'">Back</button>
    <div class="col-md-12">
      <h3 class="text-center text-primary h1">Thêm quốc gia</h3>
      <form role="form" action="/admin/addCountry" method="post">
        <div class="form-group">
          <label for="nameCountry">Tên quốc gia</label>
          <input class="form-control" name="nameCountry" id="slug" onkeyup="ChangeToSlug()" />
          <label for="slug">Slug:</label>
          <input class="form-control" name="slug" value="{{data.slug}}" id="convert_slug" />
          {{#each errors}}
          <span class="control-label" style="color: red;">{{this.message}}</span>
          {{/each}}
        </div>
        <button type="submit" class="btn btn-primary">Thêm quốc gia</button>
      </form>
    </div>
  </div>
</div>
<script>
      $('#Country').addClass('active-menu');
</script>